:root{
    --pink : #f14e95;
    --bg : #0a0a0a;
    --shadow : 0 2px 112px rgb(0 0 0 / 0.5);
}
::-webkit-scrollbar {
    width: 5px; /* Lebar scrollbar */
}
::-webkit-scrollbar-thumb {
    background: #888; /* Warna thumb */
}
body{
    min-height: 2000px;
    overflow-x: hidden;
    scrollbar-color: #f0f0f0;
}
.hero-section{
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1520854221256-17451cc331bf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    border-image: fill 0 linear-gradient(#0001,#1c1c1c);
    background-position: center;
}
.hero-section :where(h4, h1, p){
    text-shadow: var(--shadow);
}
.hero-section h4, .hero-section p{
    font-family: "Work Sans", sans-serif;
}
.hero-section h1, .navbar-brand{
    font-family: "Style Script", cursive;
}
.hero-section p,.info-section p{
    font-family: "Work Sans", sans-serif;
}
.hero-section a{
    background-color: #fff;
    color: var(--pink);

}
.hero-section a:hover{
    color: white;
    background-color: var(--pink);
}

.mynavbar{
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .2);
}
.offcanvas{
    height: 100vh;
}
.offcanvas-body{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}
.main-section{
    margin-top: calc(-4.3rem - -1px);
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1431263154979-0982327fccbb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    font-family: 'Work Sans', sans-serif;
}
.main-section .container h2{
    padding-top: 25px;
    font-family: 'Style Script';
    color: var(--pink);
    font-weight: 400;
    font-size: 3rem;
}
.main-section .couple h3,.info-section h2{
    font-family: 'Style Script';
    font-size: 2rem;
    color: var(--pink);
    font-weight: 10;
}
.main-section .couple img{
    width: 100%;
}
.main-section .heart{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(55px);
}
.main-section .heart i{
    margin: auto;
    color: var(--pink);
}
.info-section{
    background-color: var(--bg);
    color: white;
    padding: 6rem 0 8rem 0;
}
.info-section .card{
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .3);
    color: white;
    font-family: 'Work Sans';
}
.info-section .card-header{
    border-bottom: 1px solid white;
    font-weight: 500;
}
.info-section .card-footer{
    border-top: 1px solid white;
    font-weight: 200;
}
/* LAPTOP */

@media (max-width: 768px){
    html{
        font-size: 75%;
    }
    .simply-countdown > .simply-section{
        padding: 70px;
    }
}

/* TABLET */

@media (max-width: 992px){
    html{
        font-size: 65%;
    }
    .simply-countdown > .simply-section{
        padding: 60px;
        margin: 5px;
    }
    .main-section .heart{
        display: none;
    }
}

/* MOBILE */

@media (max-width: 768px){
    html{
        font-size: 60%;
    }
    .offcanvas{
        background-color: rgba(255, 255, 255, .3);
    }
    .offcanvas-title,
    .nav-link{
        color: white;
    }
    .simply-countdown > .simply-section{
        padding: 30px;
        margin: 2px;
    }
    .hero-section h4{
        margin: -20px 0 10px 0;
        font-size: 15px;
    }
    .hero-section h1{
        font-size: 30px;
    }
    .main-section .couple{
        margin-top: 25px;
    }
}
